body
    margin: 0

.App 
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 100vw
    background: #bdbdad
    flex-direction: column

#timer-label
    display: flex
    justify-content: center
    align-items: center
    height: 30vh
    font-size: 12em
    border: 1vw solid grey
    border-radius: 2vw

#control-label
    display: flex
    justify-content: center
    align-items: center
    height: 30vh

.control-item
    display: flex
    font-size: 6em
    border: 1vw solid grey
    border-radius: 2vw
    margin: 5vw